body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #6a37ad;
}   

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
}